script(async src='https://www.googletagmanager.com/gtag/js?id=UA-134155637-3')
script.
  window.dataLayer = window.dataLayer || [];
  gtag('js', new Date());
  gtag('config', 'UA-134155637-3');
  function gtag() {dataLayer.push(arguments)}
