meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=5.0')
meta(name='application name' content='WoodsAuc')
meta(name='author' content='Artjom Löbsack')
meta(name='description' content='Простое приложение для проведения аукционов')
meta(name='generator' content='Pug')
meta(name='keywords' content='dashboard, WoodsAuc, stream, twitch, goodgame')
