* {
  font-family: 'Montserrat Alternates', 'Montserrat SemiBold',
               'Roboto', 'Lucida Grande', Verdana, Arial, sans-serif;
}

::-webkit-scrollbar {
  height: .5vw;
  width:  .5vw;
}

::-webkit-scrollbar-track {
  border-radius: .5vw;
}

::-webkit-scrollbar-thumb {
  background:    rgba(255, 255, 255, .1);
  border-radius: .5vw;
}

/*noinspection CssReplaceWithShorthandSafely*/
body {
  background:            #000;
  background-attachment: fixed;
  background-position:   center;
  background-repeat:     no-repeat;
  background-size:       cover;
  color:                 #fff;
  margin:                0;

  overflow:              hidden;
  transition:            background-image .2s;
}

#blind {
  background-color: rgba(0, 0, 0, .6);
  height:           100%;
  left:             0;
  position:         fixed;
  top:              0;
  width:            100%;
  z-index:          -1;
}

#timer-area {
  text-align: center;
}

#timer-area:hover #timer-btns {
  opacity:    1;
  transition: .3s;
}

#timer-area:hover .timer-btn {
  visibility: visible;
}

#timer {
  color:       #fff;
  font-family: 'Inconsolata', 'Bitstream Vera Sans Mono',
               Monaco, 'Courier New', Courier, monospace;
  font-size:   6vw;

  transition:  color ease-out .3s;

  cursor:      default;
}

#timer-btns {
  opacity:    0;
  transition: .3s;
}

.danger {
  animation: danger-flickering infinite 1s linear;
}

@keyframes danger-flickering {
  0% {
    color: #f39727;
  }
  100% {
    color: #fff;
  }
}

.timer-btn {
  background:    none;
  border:        none;
  border-radius: 100%;

  color:         #fff;
  cursor:        pointer;

  opacity:       .3;

  transition:    .3s;
  visibility:    hidden;

  width:         5vw;
}

.timer-btn:hover {
  opacity:    1;
  transition: .3s;
}

#add-btn {
  background:    none;
  border:        none;
  border-radius: .5vw;

  color:         #fff;
  cursor:        pointer;
  height:        4vw;
  max-width:     59vw;

  opacity:       .3;
  transition:    .3s;

  width:         26vw;
}

#add-btn img {
  height: 75%;
}

#add-btn:hover {
  opacity:    1;
  transition: .3s;
}

.btn {
  background:    none;
  border:        none;

  border-radius: 100%;
  color:         #fff;

  cursor:        pointer;

  opacity:       .3;

  transition:    .3s;
}

.btn:hover {
  opacity:    1;
  transition: .3s;
}

.kp-link {
  border-radius: 100%;

  transition:    .3s;
}

.kp-link img {
  width: 2vw;
}

.flex {
  display:        flex;
  flex-direction: column;

  flex-wrap:      wrap;
  height:         86vh;
  max-width:      inherit;
}


.block {
  font-size:     1.7vw;
  height:        4vw;
  margin-bottom: .7vw;
  opacity:       0;
  transition:    .1s;
}

.block.visible {
  opacity:    1;
  transition: .1s;
}

.block:hover span {
  opacity:    1;
  transition: .3s;
}

.block-buy {
  font-size:     1.7vw;
  height:        4vw;
  margin-bottom: .7vw;
}

.block-buy span {
  margin-right: 3vw;
  opacity:      1;
}

.block-buy label {
  cursor: pointer;
}

.block-buy .btn {
  margin-left: .7vw;
  opacity:     0;
  transition:  .3s;
}

.block-buy:hover .btn {
  opacity: .3;
}

.block-buy .btn:hover {
  opacity: 1;
}

span {
  margin-right: 1.7vw;
  opacity:      0;
  transition:   .3s;
}

.block label {
  margin-right: 1.3vw;
}

.btn img {
  width: 2vw;
}

.block a {
  opacity:    .3;
  transition: .3s;
}

.block a:hover {
  opacity:    1;
  transition: .3s;
}

::placeholder {
  color: rgba(255, 255, 255, .5);
}

.name {
  margin-right:   .7vw;
  max-width:      49vw;
  text-transform: capitalize;
  width:          16.2vw;
}

.cost, .cost-buy {
  width: 8vw;
}

.name, .cost, .cost-buy {
  background:    rgba(255, 255, 255, .3);

  border:        none;
  border-radius: .5vw;
  color:         #ffa500;
  font-size:     inherit;
  height:        100%;

  overflow:      hidden;
  padding-left:  1.5vw;

  text-overflow: ellipsis;

  /*transition: color ease-in-out .3s;*/
}

input {
  transition: .15s ease-in-out, box-shadow .15s ease-in-out;
}

input:focus {
  --accent:     #f39727;
  --shadow:     rgba(243, 151, 39, .7);

  border-color: var(--accent);
  box-shadow:   0 0 0 .3vw var(--shadow);
  outline:      0;
}

#add-btn:focus,
.btn:focus, .timer-btn, #bg-url, #da-url,
.settings-btn, .notification-btn {
  outline: none;
}

[class*='col-'] {
  float:         left;
  padding-right: 2vw;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-2-3 {
  margin-top: 1.3vw;
  overflow:   auto;
  width:      70%;
}

.col-1-3 {
  height:     calc(90vh - 2vw);
  position:   relative;
  text-align: center;
  width:      30%;
}

.grid {
  margin-left: 1.5vw;
  margin-top:  1.5vw;
}

.grid:after {
  clear:   both;
  content: "";
  display: table;
}

*, *:after, *:before {
  box-sizing: border-box;
}


#candidates-area {
  padding-left: .5vw;
  padding-top:  .5vw;
}

#modal {
  align-items:     center;
  display:         flex;
  font-size:       4vw;
  justify-content: center;
  left:            50%;
  max-height:      30vw;
  max-width:       80vw;

  opacity:         1;
  position:        fixed;

  text-align:      center;

  top:             50%;
  transform:       translate(-50%, -50%);

  transition:      .2s;
  visibility:      visible;
  z-index:         4;
}

#modal p {
  -webkit-box-orient: vertical;
  display:            -webkit-box;
  display:            -moz-box;
  -webkit-line-clamp: 3;

  line-height:        5vw;
  max-height:         30vw;
  overflow:           hidden;
  text-overflow:      ellipsis;
}

#modal.closed {
  opacity:    0;
  transition: .2s;
  visibility: hidden;
}

#modal-overlay {
  background: rgba(0, 0, 0, .7);
  cursor:     pointer;
  height:     100%;
  left:       0;
  opacity:    1;
  position:   fixed;
  top:        0;

  transition: .2s;
  width:      100%;
  z-index:    3;
}

#modal-overlay.closed {
  opacity:    0;
  transition: .2s;
  z-index:    -2;
}

#settings {
  background:    rgba(0, 0, 0, .5);
  border-radius: .5vw;
  bottom:        0;
  font-size:     1.1vw;
  opacity:       1;
  padding:       3% 5% 0;
  position:      absolute;
  transition:    .3s;
  visibility:    visible;
  width:         100%;
  height:        24vw;
  overflow:      auto;
}

#settings label {
  cursor: pointer;
}

#settings div {
  margin-bottom: 1.5vw;
  margin-top:    1.5vw;
}

#settings.closed {
  opacity:    0;
  transition: .3s;
  visibility: collapse;
}

.settings-btn, .notification-btn {
  background:    none;
  border:        none;

  border-radius: 100%;
  color:         #fff;

  cursor:        pointer;

  opacity:       .3;
  padding:       .3vw;

  transition:    .3s;
}

.settings-btn img, .notification-btn img {
  width: 1.8vw;
}

.settings-btn:hover, .notification-btn:hover {
  opacity:    1;
  transition: .3s;
}

#accent {
  font-size:       1.3vw;

  background:      #f39727;

  border:          none;
  border-radius:   .5vw;

  width:           87%;
  height:          3vw;

  margin:          0 0 0 1.5vw !important;
  padding-left:    1.5vw;

  cursor:          pointer !important;

  display:         flex;
  justify-content: center;
  align-items:     center;
}

#accent span {
  opacity: 1;
  filter:  invert(1) grayscale(1) contrast(9);
  color:   #f39727;
}

.picker_wrapper {
  width:         20vw !important;
  border-radius: .5vw;
}

.picker_editor input {
  border:     none;
  background: rgba(0, 0, 0, .3);
  color:      #fff;
}

.picker_done button, .picker_cancel button {
  color: #535353;
}

.picker_sample {
  border-radius: .5vw;
}

#bg-url, #da-url {
  background:    rgba(255, 255, 255, .3);
  border:        none;

  border-radius: .5vw;
  color:         #ffa500;
  font-size:     1.3vw;
  height:        3vw;
  margin-right:  1.3vw;
  overflow:      hidden;

  padding-left:  1.5vw;
  text-overflow: ellipsis;

  width:         17vw;
}

#settings a:visited, #settings a {
  color: #fff;
}

#settings-icon {
  border-radius: 100%;
  bottom:        2vw;
  cursor:        pointer;
  opacity:       .3;
  position:      fixed;

  right:         2vw;
  text-align:    right;
  transition:    .3s;

  width:         2vw;
}

#settings-icon:hover {
  opacity:    1;
  transition: .3s;
}

#reset-icon {
  border-radius: 100%;
  bottom:        2vw;
  cursor:        pointer;
  opacity:       .3;
  position:      fixed;
  right:         5vw;
  text-align:    right;
  transition:    .3s;

  width:         2vw;
}

#reset-icon:hover {
  opacity:    1;
  transition: .3s;
}

::-moz-focus-inner {
  border: 0;
}

#color-extractor {
  display: none;
}

#timer-btns,
#settings-icon,
#add-btn, #settings,
.block, #reset-icon,
.block-buy {
  user-select: none;
}

.block-buy span {
  user-select: auto;
}

.special-url {
  border-radius:   100%;
  font-size:       1.7vw;
  margin-left:     .5vw;

  text-decoration: none;
}

.special-url img {
  height:     2vw;
  opacity:    .3;
  transition: .3s;
  width:      2vw;
}

.special-url img:hover {
  opacity:    1;
  transition: .3s;
}

.special-url:focus {
  outline: none;
}

#notifications-area {
  font-size: 1vw;
  height:    11vw;
  overflow:  auto;
  position:  fixed;
  right:     4.1vw;
  top:       12vw;
  width:     22%;
}

.notification {
  align-items:   center;
  background:    rgba(0, 0, 0, .5);
  border-radius: .5vw;
  display:       flex;
  height:        4vw;
  margin-bottom: 1.5vw;
  opacity:       1;
  padding:       .5vw .5vw .5vw 1.5vw;
  transition:    .3s;
}

.notification.hidden {
  opacity:    0;
  transition: .3s;
}

.notification p {
  -webkit-box-orient: vertical;
  display:            -webkit-box;
  display:            -moz-box;
  -webkit-line-clamp: 3;

  line-height:        1.1vw;

  margin:             0;
  overflow:           hidden;

  text-overflow:      ellipsis;
  width:              71%;
}

::selection {
  background: rgba(243, 151, 39, .7);
}
