@charset "UTF-8";
#preloader {
  background: #000;
  top:        0;
  bottom:     0;
  left:       0;
  right:      0;
  position:   fixed;
  z-index:    1;
}

.contpre {
  position: absolute;
  left:     40%;
  top:      40%;
}

#preloader.hidden {
  opacity:    0;
  visibility: collapse;
  transition: .2s;
}

.hand {
  --skin-color:  rgba(255, 255, 255, .3);
  --tap-speed:   .4s;
  --tap-stagger: .1s;
  position:      relative;
  width:         8vw;
  height:        6vw;
  margin-left:   8vw;
}

.hand:before {
  content:          '';
  display:          block;
  width:            180%;
  height:           75%;
  position:         absolute;
  top:              70%;
  right:            20%;
  background-color: #000;
  border-radius:    4vw 1vw;
  filter:           blur(10px);
  opacity:          .3;
}

.wrist {
  display:          block;
  width:            100%;
  height:           100%;
  position:         absolute;
  top:              0;
  left:             0;
  background-color: var(--skin-color);
  border-radius:    1vw 4vw;
}

.big-finger {
  position:         absolute;
  width:            120%;
  height:           3.2vw;
  background-color: var(--skin-color);
  bottom:           -18%;
  right:            1%;
  transform-origin: calc(100% - 2vw) 2vw;
  transform:        rotate(-20deg);
  border-radius:    3vw 2vw 2vw 1vw;
  border-bottom:    2px solid rgba(0, 0, 0, .1);
  border-left:      2px solid rgba(0, 0, 0, .1);
}

.big-finger:after {
  width:            20%;
  height:           60%;
  content:          '';
  background-color: rgba(255, 255, 255, .3);
  position:         absolute;
  bottom:           -2%;
  left:             .5vw;
  border-radius:    60% 10% 10% 30%;
  border-right:     2px solid rgba(0, 0, 0, .05);
}

.finger {
  position:                   absolute;
  width:                      80%;
  height:                     3.5vw;
  background-color:           var(--skin-color);
  bottom:                     32%;
  right:                      64%;
  transform-origin:           100% 2vw;
  animation-duration:         calc(var(--tap-speed) * 2);
  animation-timing-function:  ease-in-out;
  animation-iteration-count:  infinite;
  transform:                  rotate(10deg);
  border-top-right-radius:    2vw;
  border-bottom-right-radius: 2vw;
}

.finger:before {
  content:          '';
  position:         absolute;
  width:            140%;
  height:           3vw;
  background-color: var(--skin-color);
  bottom:           8%;
  right:            65%;
  transform-origin: calc(100% - 2vw) 2vw;
  transform:        rotate(-60deg);
  border-radius:    2vw;
}

.finger:nth-child(1) {
  animation-delay: 0ms;
  filter:          brightness(70%);
  animation-name:  tap-upper-1;
}

.finger:nth-child(2) {
  animation-delay: var(--tap-stagger);
  filter:          brightness(80%);
  animation-name:  tap-upper-2;
}

.finger:nth-child(3) {
  animation-delay: calc(var(--tap-stagger) * 2);
  filter:          brightness(90%);
  animation-name:  tap-upper-3;
}

.finger:nth-child(4) {
  animation-delay: calc(var(--tap-stagger) * 3);
  filter:          brightness(100%);
  animation-name:  tap-upper-4;
}

@keyframes tap-upper-1 {
  0%, 50%, 100% {
    transform: rotate(10deg) scale(.4);
  }
  40% {
    transform: rotate(50deg) scale(.4);
  }
}

@keyframes tap-upper-2 {
  0%, 50%, 100% {
    transform: rotate(10deg) scale(.6);
  }
  40% {
    transform: rotate(50deg) scale(.6);
  }
}

@keyframes tap-upper-3 {
  0%, 50%, 100% {
    transform: rotate(10deg) scale(.8);
  }
  40% {
    transform: rotate(50deg) scale(.8);
  }
}

@keyframes tap-upper-4 {
  0%, 50%, 100% {
    transform: rotate(10deg) scale(1);
  }
  40% {
    transform: rotate(50deg) scale(1);
  }
}
